@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

    <!-- Top bar Start -->

    <!-- Top bar End -->
    <!--
        <a href="product-detail.html" class="nav-item nav-link">Product Detail</a>
    -->
    <!-- Nav Bar Start -->
    <!--

<div class="top-0 fixed-top nav " style="position: fixed; ">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">

                    <a asp-action="Index" asp-controller="Home" class="nav-item nav-link">Trang chủ</a>
                    <a asp-action="Index" asp-controller="SanPham" class="nav-item nav-link">Danh mục</a>
                    <a asp-action="ChiTiet" asp-controller="SanPham" class="nav-item nav-link">Product Detail</a>

                    <a asp-action="Cart" asp-controller="Home" class="nav-item nav-link">Cart</a>
                    <a asp-action="ThanhToan" asp-controller="Cart" class="nav-item nav-link">Checkout</a>


                </div>
    
<div class="navbar-nav ml-auto">
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Tài Khoản</a>
        <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Đăng nhập</a>
            <a href="#" class="dropdown-item">Đăng ký</a>

        </div>
    </div>
</div>
            </div>
        </nav>
    </div>
</div>
    -->



    <!-- Nav Bar End -->
<!-- Bottom Bar Start -->
@* <div class="bottom-bar top-0 fixed-top " style="margin-top: 37px"> *@
<div class="bottom-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="logo">
                    <a href="index.html">
                        <img src="~/img/logo_2.png" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <form>
                    <div class="search">
                        @* <input id="timkiem" type="text" placeholder="Search"> *@
                        <input id="timkiem" type="text" placeholder="Search" />
                        <a >

                        </a>
                        <button id="btnsearch" type="button"><i class="fa fa-search"></i></button>

                    </div>
                </form>

            </div>
            <div class="col-md-2">
                <div class="user">
                    <!--
                         <a href="wishlist.html" class="btn wishlist">
                        <i class="fa fa-heart"></i>
                        <span>(0)</span>
                    </a>
                    -->
                    <a asp-action="Index" asp-controller="Cart" class="btn cart">
                        <i class="fa fa-shopping-cart"></i>
                        <span id="cartSL">(0)</span>
                    </a>
                    @* <a href="cart.html" class="btn cart"> *@
                        
                    @* </a> *@
                </div>
                
            </div>
            <div class="col-md-1">
                <div class="navbar-nav ml-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Tài Khoản</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Đăng nhập</a>
                            <a href="#" class="dropdown-item">Đăng ký</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Bottom Bar End -->

<script type="text/javascript">
    $(document).ready( function(){
        slGioHang();
    });
    
    function slGioHang(){
        $.ajax({
            url: 'http://127.0.0.1:5000/cartSL',
            method: 'GET',
            dataType: 'json',
            xhrFields: {
                 withCredentials: true  // Cho phép gửi và nhận cookie
             },
            error: function (res) {
                   alert("lỗi");
             },
            success: function (data){
                //alert("so luong cart");
                console.log(data.soluong);
                $('#cartSL').text(data.soluong);
                if(parseInt(data.soluong) > 0){
                         var html =`<button id="thanhtoan" asp-action="ThanhToan" asp-controller="Cart" >Thanh toán</button>`;
                        $('div.cart-btn').empty();
                        $('div.cart-btn').append(html);

                        console.log("Thẻ:", $('div.cart-btn'));
                    }

            }
        });
    }

      //tim kiem

            $("button#btnsearch").click(function (e) {
                var timkiem = $("#timkiem").val().trim();
                if (timkiem !== "") {
                // Chuyển sang controller/action có chứa keyword
                 window.location.href = "/SanPham/Index?tk=" + encodeURIComponent(timkiem);
              }

            });

</script>





