@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
            <li class="breadcrumb-item active">Thanh toán</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Checkout Start -->
<div class="checkout">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="checkout-inner">
                    <div class="billing-address">
                        <h2>Địa chỉ thanh toán</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Họ</label>
                                <input class="form-control" type="text" placeholder="Họ">
                            </div>
                            <div class="col-md-6">
                                <label>Tên</label>
                                <input class="form-control" type="text" placeholder="Tên">
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <input class="form-control" type="text" placeholder="Email">
                            </div>
                            <div class="col-md-6">
                                <label>Số điện thoại</label>
                                <input class="form-control" type="text" placeholder="Số điện thoại">
                            </div>
                            <div class="col-md-12">
                                <label>Địa chỉ</label>
                                <input class="form-control" type="text" placeholder="Địa chỉ">
                            </div>
                            @* <div class="col-md-6">
                                <label>Quốc gia</label>
                                <select class="custom-select">
                                    <option selected>Hoa Kỳ</option>
                                    <option>Afghanistan</option>
                                    <option>Albania</option>
                                    <option>Algeria</option>
                                </select>
                            </div> *@
                            <div class="col-md-6">
                                <label>Tỉnh</label>
                                <input class="form-control" type="text" placeholder="Tỉnh">
                            </div>
                            <div class="col-md-6">
                                <label>Huyện/Quận</label>
                                <input class="form-control" type="text" placeholder="Huyện/Quận">
                            </div>
                            <div class="col-md-6">
                                <label>Xã/Phường</label>
                                <input class="form-control" type="text" placeholder="Xã Phường">
                            </div>
                            @* <div class="col-md-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="newaccount">
                                    <label class="custom-control-label" for="newaccount">Tạo tài khoản</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="shipto">
                                    <label class="custom-control-label" for="shipto">Giao hàng đến địa chỉ khác</label>
                                </div>
                            </div> *@
                        </div>
                    </div>

                    <div class="shipping-address">
                        <h2>Địa chỉ giao hàng</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Họ</label>
                                <input class="form-control" type="text" placeholder="Họ">
                            </div>
                            <div class="col-md-6">
                                <label>Tên</label>
                                <input class="form-control" type="text" placeholder="Tên">
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <input class="form-control" type="text" placeholder="Email">
                            </div>
                            <div class="col-md-6">
                                <label>Số điện thoại</label>
                                <input class="form-control" type="text" placeholder="Số điện thoại">
                            </div>
                            <div class="col-md-12">
                                <label>Địa chỉ</label>
                                <input class="form-control" type="text" placeholder="Địa chỉ">
                            </div>
                            @* <div class="col-md-6">
                                <label>Quốc gia</label>
                                <select class="custom-select">
                                    <option selected>Hoa Kỳ</option>
                                    <option>Afghanistan</option>
                                    <option>Albania</option>
                                    <option>Algeria</option>
                                </select>
                            </div> *@
                            <div class="col-md-6">
                                <label>Tỉnh</label>
                                <input class="form-control" type="text" placeholder="Thành phố">
                            </div>
                            <div class="col-md-6">
                                <label>Huyện</label>
                                <input class="form-control" type="text" placeholder="Bang/Tỉnh">
                            </div>
                            <div class="col-md-6">
                                <label>Xã</label>
                                <input class="form-control" type="text" placeholder="Bang/Tỉnh">
                            </div>
                            @* <div class="col-md-6">
                                <label>Mã bưu điện</label>
                                <input class="form-control" type="text" placeholder="Mã bưu điện">
                            </div> *@
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="checkout-inner">
                    <div class="checkout-summary">
                        <h1>Tổng giỏ hàng</h1>
                        <p>Tên sản phẩm<span>$99</span></p>
                        <p class="sub-total">Tạm tính<span>$99</span></p>
                        <p class="ship-cost">Phí vận chuyển<span>$1</span></p>
                        <h2>Tổng cộng<span>$100</span></h2>
                    </div>

                    <div class="checkout-payment">
                        <div class="payment-methods">
                            <h1>Phương thức thanh toán</h1>
                            <!--
                                <div class="payment-method">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="payment-1" name="payment">
                                    <label class="custom-control-label" for="payment-1">Paypal</label>
                                </div>
                                 <div class="payment-content" id="payment-1-show">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                    </p>
                                </div>
                            </div>
                            <div class="payment-method">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="payment-2" name="payment">
                                    <label class="custom-control-label" for="payment-2">Payoneer</label>
                                </div>
                                 <div class="payment-content" id="payment-2-show">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                    </p>
                                </div>
                            </div>
                             <div class="payment-method">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="payment-3" name="payment">
                                    <label class="custom-control-label" for="payment-3">Thanh toán bằng séc</label>
                                </div>
                                 <div class="payment-content" id="payment-3-show">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                    </p>
                                </div>
                            </div>
                            -->
                            
                            <div class="payment-method">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="payment-4" name="payment">
                                    <label class="custom-control-label" for="payment-4">Chuyển khoản ngân hàng</label>
                                </div>
                                @* <div class="payment-content" id="payment-4-show">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                    </p>
                                </div> *@
                            </div>
                            <div class="payment-method">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="payment-5" name="payment">
                                    <label class="custom-control-label" for="payment-5">Thanh toán khi nhận hàng</label>
                                </div>
                                @* <div class="payment-content" id="payment-5-show">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                    </p>
                                </div> *@
                            </div>
                        </div>
                        <div class="checkout-btn">
                            <button>Đặt hàng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Checkout End -->
